*{margin: 0; padding: 0; box-sizing: border-box;list-style: none;}
a,a:hover{text-decoration: none;}
.font_size{
    font-size:12px;
}
/* 登录login */
.login_header{
    background: #333;
}
.login_header::after{
    content: "";clear: both;display: block;
}
.login_header ul:first-child{
    margin-left:300px;
}
.login_header ul:nth-child(2){
    margin-left:1000px;
}
.login_header ul li{
    float: left;
    margin-left:15px;
}
.login_header ul li a{
    color:#ddd;
    font-size:8px;
    
}
.login_header ul li a:hover{
    color:#f0f;    
}
.login_header ul li span{
    color:#ddd;
    padding-left:12px;
}

/* 生米、首页 */
.main{
    margin-top:30px;
}
.main::after{
    content: "";clear: both;display: block;
}
.main>img{
    float: left;
    margin-left: 310px;
}
.main ul{
    margin-left:1010px;
}
.main ul li{
    float:left; 
    position: relative;
    margin-left:15px; 
}
.main ul li a{
    color:#222;
    font-size:0.9rem;;
}
.main ul li a.active{
   color: #137777;
}
.main ul li a span{
    position: relative;
    bottom:7px;   
}
/* 修改密码框 */
.login{
    width:500px;
    height:300px;
    background:#fff;
    margin-left:600px;
    margin-top:200px;
}
.login div:first-child{
    border-bottom: 1px solid #ddd;
}
.login div:first-child span{
    color: #e6730d;
    border-bottom: 2px solid #e6730d;
}
.login div:last-child p input{
    height:25px;
    width:300px;
}
.login div:last-child p{
    padding-bottom:20px;
}
.login div:last-child p:first-child{
    margin-top: 30px;
    margin-left:120px;
}
.login div:last-child p:nth-child(2){
    margin-left:120px;
}
.login div:last-child p:nth-child(3){
    margin-left:95px;
}
.login div:last-child p:nth-child(4){
    margin-left:230px;
}
.login div:last-child p:last-child{
    margin-left:220px;
}
.login div:last-child p:last-child input{
    width:100px;
    background: #0cacc7;
}

/* 底端、尾部 */
.footer{
    margin-top:245px;;
    background: #333;
    width:100%;
    height:130px;
}
.footer>div:first-child{
    border-bottom: 1px solid #ddd;
    width:80%;
    margin-left:100px;
}
.footer div::after{
    content: "";clear: both;display: block;
}
.footer div a img{
    margin-left:200px;
    float: left;
    padding-right:10px;
    border-right:1px solid #ddd;
} 
.footer div ul li{
    float:left;
}
.footer div ul li span{
    margin:0 5px;
}
.footer div span{
    color:#ddd;
    font-size:10px;
}
.footer div p span{
    position: relative;
    top:20px;
    right:595px;
}
.footer div p span:first-child{
   
}
.footer div p span:last-child{
  margin-left:20px;  
}


.footer span{
    color:#ddd;
    font-size:5px;
}
.footer a{
    color:#ddd;
    font-size:10px;
}
.footer a:hover{
    color:#fff;
}
.footer div:nth-child(2){
    margin-left: 350px;
}
.footer div:nth-child(2)::before{
    content:"友情链接：";color:#ddd;font-size: 10px;
    position: relative;
    top:10px;
    right:50px;
}
.footer div:nth-child(2)::after{
    content:"";clear: both;display: block;
}
.footer div:nth-child(2) ul li{
    float: left;
    margin-left: 20px;
}
.footer p{
    margin-top:20px;
    text-align: center;
}